
<h1 class="mt-10 text-center text-3xl text-blue-700 font-bold">Dashboard</h1>
<div class="grid grid-cols-3 space-x-5 place-items-center w-full mt-3">
  <% @status.each do |product| %>
    <div class=" py-4 px-8  my-5">
      <table class=" leading-normal">
        <thead>
        <tr>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
            Solicitados
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
            Cargados
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
            No Cargados
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
            Fecha
          </th>
        </tr>
        </thead>
        <tbody>

          <tr>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap text-center"><%= product.requested %></p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap text-center"><%= product.loaded %></p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap text-center"><%= product.not_loaded %></p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap text-center"><%= product.created_at.to_formatted_s(:long) %></p>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  <% end %>


</div>
